body {
    background-color: #aaa;
    font-family: monospace;
    align-items: center;
    justify-items: center;
}
.bar {
    padding: 10px;
    background-color: rgb(142, 35, 35);
    margin: 0 auto;
    color: white;
    display: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

p,h3 {
    text-align: center;
    font-size: 1.5em;
    text-justify: distribute;
}
h1 {
    display: none;
    text-align: center;
    font-size: 3.0em;
}

ul, li {
    list-style: none;
    text-align: right;
    font-weight: bold;
    color: beige;
    margin: 0;
    margin-right: -5px;
}

a {
    text-decoration: none;
}
a:hover {
    font-weight: 900;
    color: maroon;
    border-radius: 5px;
    background-color: beige;
    padding: 5px;
}

.container {
    border: 1px solid white;
    height: 500px;
    display: flex;
    align-items: flex-end;
    margin: 15px 10px 0px 15px;
}
#bar1 {
    background-color: blue;
    height: 400px;
}

#bar2 {
    background-color: green;
    height: 250px;
}

#bar3 {
    background-color: red;
    height: 150px;
}

#bar4 {
    background-color: yellow;
    height: 300px;
}

#bar5 {
    background-color: purple;
}

.y-axis {
    border: 1px solid beige;
    padding: 10px;
    display: inline-block;
    height: 96%;
}
/* .rotate {
    transform: rotate(-90deg);
}*/
.x-axis {
    border: 1px solid beige;
    padding: 10px;
    display: inline-block;
    flex-direction: row;
    width: 97%;
    margin: 0 15px 15px 15px;
}

footer {
    width: 90%;
    border: 1px solid beige;
    padding: 10px;
    text-align: center;
    margin: auto;
}