body {
    background-color: #aaa;
    font-family: monospace;
    align-items: center;
    justify-items: center;
}
.header {
    text-align: center;
    margin: auto;
    width: 90%;
}
.bar {
    padding: 2px;
    margin: 0 1px;
    border: 1px solid beige;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    font-family: monospace;
    display: none;
}

p,h3 {
    text-align: center;
    font-size: 1.5em;
    text-justify: distribute;
}
h1 {
    display: none;
    text-align: center;
    font-size: 3.0em;
    color: #aaa;
}

ul, li {
    list-style: none;
    text-align: right;
    font-weight: bold;
    color: beige;
    margin: 0;
    margin-right: -5px;
}
button {
    background-color: maroon;
    color: beige;
    padding: 10px;
    border-radius: 5px;
}
#greeting {
    background-color: maroon;
    color: #aaa;
    padding: 10px;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: #aaa;
}
a:hover {
    font-weight: 900;
    color: maroon;
    border-radius: 5px;
    background-color: beige;
    padding: 5px;
}

.container {
    border: 1px solid white;
    height: 500px;
    display: flex;
    align-items: flex-end;
    margin: 15px 10px 0px 15px;
}
#barchart {
    height: 500px;
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.y-axis {
    border-right: 1px solid beige;
    padding: 0 10px 0 5px;
    display: inline;
}

.x-axis {
    border: 1px solid beige;
    padding: 10px;
    display: inline-block;
    flex-direction: row;
    width: 97%;
    margin: 0 15px 15px 15px;
}

footer {
    width: 90%;
    padding: 10px;
    text-align: center;
    margin: auto;
    background-color: maroon;
    border-radius: 5px;
}
